<li data-index="rs-<?= $index; ?>" data-transition="slideover<?= $slide ?? 'horizontal'; ?>" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="1500" data-thumb="<?= $thumbnail; ?>" data-rotate="0" data-saveperformance="off">
  <img src="<?= $image; ?>" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
</li>