.nk-img-fit,
.nk-img {
    max-width: 100%;
    height: auto;
}
@media #{$media_xxs} {
    .nk-img-fit-xs-down {
        max-width: 100%;
        height: auto;
    }
}
@media #{$media_larger_xs} {
    .nk-img-fit-sm-up {
        max-width: 100%;
        height: auto;
    }
}
@media #{$media_smaller_xs} {
    .nk-img-fit-sm-down {
        max-width: 100%;
        height: auto;
    }
}
@media #{$media_larger_sm} {
    .nk-img-fit-md-up {
        max-width: 100%;
        height: auto;
    }
}
@media #{$media_smaller_sm} {
    .nk-img-fit-md-down {
        max-width: 100%;
        height: auto;
    }
}
@media #{$media_larger_md} {
    .nk-img-fit-lg-up {
        max-width: 100%;
        height: auto;
    }
}
@media #{$media_smaller_md} {
    .nk-img-fit-lg-down {
        max-width: 100%;
        height: auto;
    }
}
@media #{$media_lg} {
    .nk-img-fit-xl-up {
        max-width: 100%;
        height: auto;
    }
}