@each $item in $helper-m {
  .mn-#{$item} {
      margin: #{$item * -1}px !important;
  }
}
@each $item in $helper-m {
  .mnt-#{$item} {
      margin-top: #{$item * -1}px !important;
  }
}
@each $item in $helper-m {
  .mnl-#{$item} {
      margin-left: #{$item * -1}px !important;
  }
}
@each $item in $helper-m {
  .mnr-#{$item} {
      margin-right: #{$item * -1}px !important;
  }
}
@each $item in $helper-m {
  .mnb-#{$item} {
      margin-bottom: #{$item * -1}px !important;
  }
}