/*
 * Redundant classes (found in Bootstrap 4)
 * Leaving them here as to not break something yet
 * TODO: Clean these up ASAP
 */
/* .d-inline-block */
.dib { display: inline-block !important; }
/* .d-block */
.db { display: block; }
/* .text-uppercase */
.text-uppercase { text-transform: uppercase !important; }
/* .h-auto */
.hauto { height: auto !important; }
/* .h-auto */
.wauto { width: auto !important; }
/* .overflow-auto */
.of-a { overflow: auto !important; }
/* .overflow-hidden */
.of-h { overflow: hidden !important; }
/* .text-truncate */
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* .m-auto */
.mauto {
    margin-right: auto;
    margin-left: auto;
}