.responsive-embed {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  clear: both;

  &.responsive-embed-16x9 {
      padding-bottom: 56.25%;
  }
  
  &.responsive-embed-4x3 {
      padding-bottom: 75%;
  }

  > .embed-item,
  > iframe,
  > embed,
  > object{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
  }
}