.va {
  &-t {
    vertical-align: top !important;
  }

  &-m {
    vertical-align: middle !important;
  }

  &-b {
    vertical-align: bottom !important;
  }

  &-s {
    vertical-align: super !important;
  }
}