.display-1,
.display-2,
.display-3,
.display-4 {
  font-family: $font_headings;
  font-weight: 600;
}
.display-1 {
  font-size: 4.7rem;
}
.display-2 {
  font-size: 4.2rem;
}
.display-3 {
  font-size: 3.7rem;
}
.display-4 {
  font-size: 3.2rem;
}