.nk-title {
  position: relative;
  z-index: 1;
}

.nk-sub-title {
  position: relative;
  font-family: $font_body;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 400;
  color: $color_main_1;
  z-index: 1;

  .nk-title + & {
      margin-top: 1rem;
  }
}

/* Back title */
.nk-title-back {
  margin-bottom: 0;
  font-size: 6rem;
  color: inherit;
  opacity: .1;

  + * {
      position: relative;
      margin-top: -40px;
  }

  + .nk-sub-title {
      margin-top: -50px;
  }
}

.nk-title-sep {
  display: block;
  margin: 30px auto;
  line-height: 0;
  color: inherit;

  &::after {
      content: "";
      display: inline-block;
      width: 80%;
      max-width: 80px;
      vertical-align: middle;
      border-bottom: 1px dotted;
      opacity: .4;
  }
}
.nk-title-sep-icon {
  display: block;
  margin: 30px auto;
  line-height: 0;
  color: inherit;

  .icon {
      font-size: 1.9rem;
      vertical-align: middle;
  }

  &::before,
  &::after {
      content: "";
      display: inline-block;
      width: 60px;
      vertical-align: middle;
      border-bottom: 1px dotted;
      opacity: .4;
  }
  &::before {
      margin-right: 20px;
  }
  &::after {
      margin-left: 20px;
  }
}