.nk-action-heart {
  cursor: pointer;
  user-select: none;
  transition: .3s opacity;

  &,
  &:focus,
  &:hover,
  &:active {
    color: inherit;
    text-decoration: none;
  }

  > span {
    display: inline-block;
    margin-right: 5px;
    font-size: 1.2em;
    vertical-align: middle;
  }
  > .num {
    font-size: 1em;
  }

  // icons
  .liked-icon {
    display: none;
  }

  &.liked {
    .liked-icon {
      display: inline-block;
    }
    .like-icon {
      display: none;
    }
  }
}


