/* Like / Dislike Animation */
.nk-like-animation,
.nk-dislike-animation {
  position: fixed;
  display: none;
  top: 50%;
  right: 0;
  left: 0;
  height: 300px;
  margin-top: -150px;
  font-size: 7rem;
  font-weight: 600;
  line-height: 300px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: default;
  user-select: none;
  background-color: $color_success;
  z-index: 2000;

  @media #{$media_xs} {
    font-size: 5rem;
  }
  @media #{$media_xxs} {
    font-size: 3rem;
  }
  @media (max-height: 500px) {
    height: 200px;
    margin-top: -100px;
    line-height: 200px;
  }
}
.nk-dislike-animation {
  background-color: $color_danger;
}

/* Like / Dislike */
.nk-action-like {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  margin-left: 13px;
  user-select: none;

  &,
  &:focus,
  &:hover,
  &:active {
    color: inherit;
    text-decoration: none;
  }

  > span,
  > svg {
    font-size: 1em;
  }
  > .num {
    font-size: .9em;
  }
  > .like-icon,
  > .dislike-icon {
    padding: 5px;
    cursor: pointer;
    opacity: .8;
    transition: .3s opacity;

    &:hover,
    &.hover {
      opacity: 1;
    }
  }
  > svg.like-icon,
  > svg.dislike-icon {
    padding: 0;
    margin: 10px;
    font-size: .9em;
  }

  &.disliked > .like-icon,
  &.liked > .dislike-icon {
    opacity: .4;
  }
  &.disliked > .dislike-icon,
  &.liked > .like-icon {
    opacity: 1;
  }
}
