.nk-keyboard {
  display: inline-block;
  min-width: 30px;
  height: 30px;
  padding: 0 7px;
  margin: 5px;
  font-size: 12px;
  line-height: 28px;
  color: $color_dark_1;
  text-align: center;
  background-color: #fff;
  border: 1px solid lighten($color_dark_1, 50%);
  border-radius: 3px;
}
