.nk-sidebar {
  padding-left: 40px;

  // fluid
  .container-fluid > .row > div > &.nk-sidebar-left {
    padding-left: 25px;
  }
  .container-fluid > .row > div > &.nk-sidebar-right {
    padding-right: 25px;
  }

  // left
  &.nk-sidebar-left {
    padding-right: 40px;
    padding-left: 0;
  }

  @media #{$media_smaller_sm} {
    &,
    &.nk-sidebar-left {
      padding-right: 0 !important; // stylelint-disable-line
      padding-left: 0 !important; // stylelint-disable-line
    }
  }
}
