.nk-widget-store-cart {
  .nk-nav & {
    width: 354px;
    padding-top: 5px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-left: 25px;
  }

  .nk-widget-store-cart-actions {
    margin-top: 25px;

    a + a {
      margin-left: 15px;
    }
  }

  .nk-widget-store-cart-total {
    margin-top: 25px;
    margin-bottom: 25px;

    &::before,
    &::after {
      content: "";
      display: table;
      width: 100%;
      clear: both;
      border-top: 1px dotted #777;
    }
    &::before {
      margin-bottom: 15px;
    }
    &::after {
      margin-top: 15px;
    }

    > a {
      color: inherit;
      text-decoration: none;
      transition: .3s opacity;

      &:hover,
      &:focus {
        opacity: .7;
      }
    }

    > span {
      float: right;
    }
  }
}